{% extends '@EasyAdmin/page/login.html.twig' %}

{% block login_form_wrapper %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="form-control-label required" for="username">NIK</label>
                <div class="form-widget">
                    <input type="text" id="username" name="{{ username_parameter|default('_username') }}" class="form-control" value="{{ last_username|default('') }}" required autofocus autocomplete="username">
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label required" for="password">{{ _password_label }}</label>
                <div class="form-widget">
                    <input type="password" id="password" name="{{ password_parameter|default('_password') }}" class="form-control" required autocomplete="current-password">
                </div>

                {% if forgot_password_enabled|default(false) %}
                    <div class="form-text">
                        <a href="{{ forgot_password_path|default('#') }}">{{ _forgot_password_label }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="float-start">
                <a class="btn btn-lg btn-secondary" href="#">
                    Register
                </a>
            </div>
            <div class="float-end">
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>


        </form>
{% endblock %}

{#{% extends '@EasyAdmin/page/content.html.twig' %}#}

{#{% block title %}Log in!{% endblock %}#}

{#{% block body %}#}
{#    <form method="post">#}
{#        {% if error %}#}
{#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#        {% endif %}#}

{#        {% if app.user %}#}
{#            <div class="mb-3">#}
{#                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#            </div>#}
{#        {% endif %}#}

{#        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#        <label for="username">Nik</label>#}
{#        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>#}
{#        <label for="password">Password</label>#}
{#        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>#}

{#        <input type="hidden" name="_csrf_token"#}
{#               value="{{ csrf_token('authenticate') }}"#}
{#        >#}

{#        #}{##}
{#            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#            See https://symfony.com/doc/current/security/remember_me.html#}

{#            <div class="checkbox mb-3">#}
{#                <input type="checkbox" name="_remember_me" id="_remember_me">#}
{#                <label for="_remember_me">Remember me</label>#}
{#            </div>#}
{#        #}

{#        <button class="btn btn-lg btn-primary" type="submit">#}
{#            Sign in#}
{#        </button>#}
{#    </form>#}
{#{% endblock %}#}
