{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        @media (min-width: 992px) {
            body.page-login-custom {
                align-items: center;
                block-size: 100vh;
                display: flex;
                inline-size: 100vw;
                justify-content: center;
            }
        }

        body {
            background: var(--bs-gray-100);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="login-wrapper"  style="margin-top: 5em!important;">
        <section class="content">

            {{ form_start(registrationForm) }}
            <div class="form-group">
                <label for="{{ registrationForm.nik.vars.id }}">NIK</label>
                <div class="form-widget">
                    <input aria-label="{{ registrationForm.nik.vars.id }}" class="form-control" name="{{ registrationForm.nik.vars.full_name }}">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="{{ registrationForm.plainPassword.first.vars.id }}">Password</label>
                    <div class="form-widget">
                        <input aria-label="{{ registrationForm.plainPassword.first.vars.id }}" type="password" class="form-control" name="{{ registrationForm.plainPassword.first.vars.full_name }}">
                    </div>
                </div>

                <div class="col-6">
                    <label for="{{ registrationForm.plainPassword.second.vars.id }}">Repeat Password</label>
                    <div class="form-widget">
                        <input aria-label="{{ registrationForm.plainPassword.second.vars.id }}" type="password" class="form-control" name="{{ registrationForm.plainPassword.second.vars.full_name }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.nama.vars.id }}">Nama</label>
                <div class="form-widget">
                    <input aria-label="{{ registrationForm.nama.vars.id }}" class="form-control" name="{{ registrationForm.nama.vars.full_name }}">
                </div>
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.email.vars.id }}">Email</label>
                <div class="form-widget">
                    <input aria-label="{{ registrationForm.email.vars.id }}" class="form-control" name="{{ registrationForm.email.vars.full_name }}">
                </div>
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.telepon.vars.id }}">No. Handphone</label>
                <div class="form-widget">
                    <input aria-label="{{ registrationForm.telepon.vars.id }}" type="tel" class="form-control" name="{{ registrationForm.telepon.vars.full_name }}">
                </div>
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.alamat.vars.id }}">Alamat</label>
                <div class="form-widget">
                    <textarea class="form-control" name="{{ registrationForm.alamat.vars.full_name }}" aria-label="{{ registrationForm.alamat.vars.id }}"></textarea>
                </div>
            </div>

{#            <div class="form-group">#}
{#                <input type="checkbox" class="form-check-input" id="{{ registrationForm.agreeTerms.vars.id }}" aria-label="{{ registrationForm.agreeTerms.vars.id }}" name="{{ registrationForm.agreeTerms.vars.full_name }}">#}
{#                <label for="{{ registrationForm.agreeTerms.vars.id }}">Setuju</label>#}
{#            </div>#}

            {{ form_row(registrationForm._token) }}
            <button type="submit" class="btn">Buat Akun</button>
            {{ form_errors(registrationForm) }}

            {{ form_end(registrationForm, {render_rest: false}) }}
        </section>
    </div>

{% endblock %}
